@import 'tailwindcss';

@theme {
  --color-primary-100: #10b981; /* ロゴ背景 */
  --color-primary-200: #006c49; /* メインボタン・アクティブ状態 */
  --color-primary-300: #005136;
  --color-expense: #e11d48; /* 支出（新規） */
  --color-balance: #2563eb; /* 収支（新規） */
}
